* {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(177, 213, 245);}
    
    
    body {
        font-family: Arial, sans-serif;
    }
    
    /* Navbar styles */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        padding: 10px 20px;
    }
    
    .navbar-logo img {
        width: 100px; /* Adjust the size of the logo */
        height:50px
        ; /* Maintain aspect ratio */
    }
    
    .navbar-links {
        display: flex;
        list-style: none;
    }
    
    
    
    .navbar-links a {
        color: black;
        text-decoration: none;
        padding:  10px;
        font-size: 9px;
    }
    input{width: 130px; height: 30px; border-radius: 5px; background-color: antiquewhite; }
    .btn{ border-radius: 5px; background-color: antiquewhite;}
    
    .home {
        height: 100vh;
        background: url() no-repeat;
        background-size: cover;
        background-position: center; 
        display: flex;
        align-items: center;
        padding: 0 10%;
    
    }
    
    
    
    .home-content h1 {
        position: relative;
        font-size: 36px;
        font-weight: 500px;
        
        font-family: sans-serif;
        
    }